{
  "extends": [
    "next/core-web-vitals",
    "plugin:prettier/recommended",
    "plugin:@next/next/recommended",
  ],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "@next/next/no-sync-scripts": "off",
    "next/no-missing-client-entry": "error",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
      },
    ],
  },
}
